/* Links */
a{
  /* color: #f2f2f2; */
  text-decoration: none;
}
a:focus,
a:hover {
  /* color: #f2f2f2; */
  text-decoration: none;
}

.container {
  max-width: none !important;
}

/*
 * Base
 */

 @font-face {
  font-family: Bilbo Swash Caps;
  src: url('../font/BilboSwashCaps-Regular.ttf');
}

@font-face {
  font-family: Parisienne;
  src: url('../font/Parisienne-Regular.ttf');
}

.site-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.font-BilboSwashCamps {
  font-family: 'Bilbo Swash Caps', cursive;
}

.font-Parisienne {
  font-family: 'Parisienne', cursive;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.row {
  margin: 15px 0;
}

.search-form {
  margin: 50px 0 0 0;
  padding: 0 50px;
  text-align: justify;
}

.search-row {
  margin-bottom: 30px;
}

.search-block {
  display: block;
}

.title-block {
  margin: 30px 0 0 0;
  padding: 10px;
  height: 150px;
}

.site-title {
  margin: 0;
  padding: 0;
}

.site-subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: italic;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8em;
}

.search-foot {
  padding: 0 0 35px 0;
}

.directory-block {
  /* margin: 10px 0; */
}

.directory-row {
  margin-bottom: 20px;
}

.directory-row a {
  color: #000;
}

.directory-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .directory-card :hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
} */

.directory-list-card {
  border: transparent;
}

.directory-list-row {
  margin: 2px 0;
  padding: 0;
}

.directory-list-row a {
  color: #000;
}

.temp-card {
  border-color: transparent;
}

.directory-table {
  margin: 40px 0 0 0;
}

.directory-table a {
  color: #000;
}